@import './fonts'
@import './_variables'
@import './libs/normalize'

html
	height: 100%

#root
	height: 100%
	display: flex
	flex-direction: column

body
	background-color: $background
	display: flex
	flex-direction: column
	height: 100%

.content
	flex: 1 0 auto
	align-items: center
	padding: $header-height + 30px 0
	&--cart
		max-width: 820px
		margin: 30px auto
		.content__title
			margin: 0

.label
	display: flex
	align-items: center
	cursor: pointer
	.input
		border-radius: 50%
		appearance: none
		height: 32px
		width: 32px
		padding: 0
		background: $white
		border: none
		color: #fff
		cursor: pointer
		margin-right: 0.5rem
		outline: none
		position: relative
		z-index: 1000
		&:hover
			background: $gray
		&:checked
			background: $orange
		&:checked::before
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			content: '✔'
			font-size: 18px
	&--light
		color: $white
	&--dark
		color: $true-black
.input
	cursor: pointer
	padding: 12px
	@include title(null, 14px, 500)
	letter-spacing: 0.5px
	resize: none
	outline: none
	&__error
		outline: 2px solid red !important
	&__solid
		// border: none
		&.input--light
			background-color: $white
			color: $true-black
			&:focus
				background-color: darken($white, 15%)
		&.input--dark
			background-color: $black
			color: $white
	&__skeleton
		border: transparent
		border-bottom: 1px solid $orange
		background: transparent
		&.input--light
			color: $white
		&.input--dark
			color: $black
