@import '../../sass/_variables'

.order
	&__container
		@include container($container-l)
	&__info-block
		padding: 20px
	&__dish-items
		margin-bottom: 40px
.destination
	margin-bottom: 30px
	display: flex
	justify-content: center
	&__form
		width: 100%
		display: grid
		grid-template-areas: "name telephone" "street house" "apartment frontDoor" "reception reception" "details details" "submit submit"
		row-gap: 20px
		column-gap: 30px
		grid-template-columns: 1fr 1fr
		grid-template-rows: auto
		margin-right: 30px
	&__name
		grid-area: name
	&__surname
		grid-area: surname
	&__telephone
		grid-area: telephone
	&__street
		grid-area: street
	&__house
		grid-area: house
	&__apartment
		grid-area: apartment
	&__frontDoor
		grid-area: frontDoor
	&__details
		grid-area: details
	&__reception
		display: flex
		grid-area: reception
		justify-self: start
		label
			&:not(:last-of-type)
				margin-right: 18px
	&__submit
		justify-self: end
		grid-area: submit
	&__map
		max-width: 320px

.details
	display: flex
	align-items: center
	justify-content: space-between
	&__price
		span
			@include title($white, 18px, 300)
			b
				color: $orange

.sub-window
	background-color: rgba(0, 0, 0, 0.7)
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 100
	&__content
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		background-color: $white
		min-height: 200px
		width: 100%
		max-width: 450px
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 20px
		text-align: center
	&__header
		display: flex
		justify-content: flex-end
		svg
			cursor: pointer
			outline: none
			border: none
			transition: 0.5s
			&:hover
				transform: scale(2.5)
