@import '../../sass/_variables'

.main
	// position: fixed
	&__losung
		z-index: 2
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		text-align: center
		color: white
	.swiper-wrapper
		position: relative
		width: 100%
		height: 100%
		display: flex
		z-index: -2
	.swiper-slide
		position: relative
		transition-property: transform
		background-position: center
		height: 100vh
		min-width: 100%
		width: 100%
		opacity: 1
		background-size: cover
		background-repeat: no-repeat
		&:not(.swiper-slide-active)
			opacity: 0
		&::after
			background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0F0F0F 100%)
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			content: ""
