@import '../../../sass/_variables'

.delivery
	@include container($container-xl)
	margin-bottom: 60px
	&__content
		height: auto
		position: relative
	&__map
		@include container($container-s)
		display: flex
		height: 300px
		margin-bottom: 100px
	&__title
		margin-bottom: 80px
	&__features
		display: flex
		justify-content: space-between
		.feature
			&:not(:last-of-type)
				margin-right: 80px

@media screen and ( max-width: 890px)
	.delivery
		&__features
			flex-direction: column
			align-items: center
			.feature
				&:not(:last-of-type)
					margin-right: 0px
					margin-bottom: 70px
