@import '../../../sass/_variables'

.reservation
	margin-bottom: 100px
	&__title
		margin-bottom: 60px
	&__bg
		@include bg-image
		display: flex
		flex-direction: column
		justify-content: flex-end
		position: relative
		transition-property: transform
		// height: 30vh
		height: 800px
		z-index: -1
		&::after
			@include pseudo-element(linear-gradient(0deg, rgba(0,0,0,1) 23%, rgba(156,72,74,0) 60%, rgba(0,0,0,1) 100%))
	&__info-wrapper
		text-align: center
		display: flex
		align-items: flex-start
		min-height: 240px
		z-index: 20
		margin-top: -250px
	&__info-blocks
		width: 100%
		background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9416141456582633) 20%)
		color: white
		display: flex
		flex-direction: column
		justify-content: space-evenly
		min-height: 120px
	&__info-block
		display: flex
		justify-content: space-evenly
		&:not(:last-of-type)
			margin-bottom: 20px
	&__info
		width: 100%
		padding: 10px
		max-width: 320px
		&:not(:last-of-type)
			margin-right: 10px
	&__info-title,
	&__info-description
		text-align: left
	&__info-title
		@include title($white, 18px, 500)
		width: fit-content
		margin-bottom: 10px
		&-logo
			font-size: 16px
			height: auto
			margin-right: 10px
			path
				fill: $orange
	&__info-description
		@include title(darken(white, 25%), 12px, 300)
