@import '../../sass/_variables'

.navbar
	&__list
		list-style: none
		display: flex
		justify-content: space-between
	&__item
		margin: 0 10px
		height: 36px
		display: flex
		align-items: center
	&__link.active
		color: darken($orange, 10%)
	&__link
		position: relative
		@include title($white, 16px, 300)
		transition: 0.3s
		&:hover
			color: $orange
		&::after
			@include pseudo-element(rgba($white, 0.5), 100%, 0)
			width: 0
			height: 1px
			transition: width 0.3s
		&:not(.active):hover::after
			background-color: $orange
			width: 100%
