@import '../../sass/_variables'

.navbar
	&__list
		list-style: none
		display: flex
		justify-content: space-between
	&__item
		margin: 0 10px
		height: 36px
		display: flex
		align-items: center
		font-family: 'Commissioner'
		font-weight: 300
	&__link.active
		color: darken($orange, 10%)
	&__link
		font-size: 16px
		color: $white
		transition: 0.3s
		&:hover
			color: $orange
		&::after
			content: ''
			display: block
			width: 0
			height: 1px
			background-color: rgba(white, 0.5)
			transition: width 0.3s
		&:not(.active):hover::after
			background-color: $orange
			width: 100%
