@import '../../../sass/_variables'

.slider-logo
	width: 180px
	height: 180px
	border: 1px solid $white
	text-align: center
	transition: 0.5s
	&:hover
		width: 280px
		height: 280px
		&::before
			transform: rotate(135deg)
		&::after
			transform: rotate(-45deg)
		.slider-logo__title,
		.slider-logo__subtitle
			opacity: 1
	&::before, &::after
		@include pseudo-element()
		transition: 0.5s
		height: 100%
		width: 100%
		border: 1px solid $white
		transform: rotate(45deg)
	&__wrapper
		@extend .absolute-center
		z-index: 10
	&__logo
		width: 160px
	&__title,
	&__subtitle
		user-select: none
		transition: 0.4s
		opacity: 0
	&__title
		@include title($white, 22px, 300)
		text-transform: uppercase
	&__subtitle
		@include title($white, 14px, 300)
		width: max-content
		font-weight: 200
		letter-spacing: 2.5px
